<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add User Form</title>
</head>
<body>
    <p th:text="${passwordError}"></p>
    <form id="addUser" method="post">
        <label>Username:</label>
        <input th:field="${user.username}"/>
        <label>E-Mail: </label>
        <input th:field="${user.email}"/>
        <label>Password:</label>
        <input type="password" th:field="${user.password}" />
        <label>Verify Password:</label>
        <input type="password" th:field="${user.verify}" />
        <input type="submit" value="Add User"/>
    </form>
</body>
</html>