<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>User Detail</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1 th:text="${user.username}">username</h1>
<table>
    <thead>
        <tr>
            <td>E-Mail</td>
            <td>ID</td>
            <td>User Since</td>
        </tr>
    </thead>
    <tr>
        <td th:text="${user.email}">####@####.###</td>
        <td th:text="${user.id}">#</td>
        <td th:text="${user.dateCreated}"></td>
    </tr>
</table>

</body>
</html>