<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>Welcome!</h1>
<h2>Your Username:</h2>
<p th:text="${thisUser.username}"></p>
<h2>Your E-Mail:</h2>
<p th:text="${thisUser.email}"></p>
<a th:href="@{/}">Select Your Services</a>
<table>
    <thead>
        <tr>
            <td>Current Users:</td>
        </tr>
    </thead>
    <th:block th:each="user : ${users}">
        <tr>
            <td><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.username}">View Detail</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>